/* Header */
#header {
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 100%), url("/image/headBackground.webp");
}

/* back to top button */
.btn-back-to-top {
    position: fixed;
    background: none;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 100%), url("/image/headBackground.webp");
    border-radius: 10px;
    padding: 0;
    cursor: pointer;
    z-index: 1000;
}

.btn-back-to-top img {
    transition: transform 0.3s ease, background-size 0.3s ease;
    width: 50px;
    height: 50px;
}

.btn-back-to-top:active {
    transform: scale(1.1);
    /* enlarge when clicked */
}

/* navbar */
.nav {
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 20px;
    margin-left: auto;
    font-size: 20px;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin: 0 15px;
}

.carousel-caption a {
    text-decoration: none;
}

.carousel-caption a:hover {
    text-decoration: underline;
    text-decoration-color: pink;
}

.navbar a {
    color: #000000;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: larger;
}

.navbar a:hover {
    background-color: #FEC5E5;
    border-radius: 10px;
}

/* caroseol */
.d-block {
    height: 600px;
    background: linear-gradient(to bottom, transparent, black);
}

.carousel-inner {
    background-color: #fff;
}

h5 {
    color: #FEC5E5;
}

.carousel-caption {
    color: #FEC5E5;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

body {
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 100%), url(/image/antwebbg.jpg);
    /* Image URL */
    background-size: cover;
    /* Ensure the background image covers the entire screen */
    background-position: center center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Prevent repeating the image */
    background-attachment: fixed;
    /* Make the background stay fixed while scrolling */
}

/* Container styles */
.container {
    margin: 20px auto 20px auto;
    border-radius: 20px;
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: space-around;
    background-color: #F79E7C;
    /* Light peach color */
    padding: 20px;
}

/* Text container styles */
.text-container {
    flex: 1;
    padding-left: 20px;
    flex-direction: column;
}

.text-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
    text-decoration: underline;
}

.text-container p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: justify;
    width: 89%;
}

.text-container-nopadding p {
    font-size: 20px;
    line-height: 1.5;
    text-align: justify;
}

.idkbtn {
    text-align: center;
}

.idkbtn button {
    font-weight: bold;
}

.nopadding p {
    margin-bottom: 0;
    margin: 10px 0;
}

.text-container button {
    background-color: black;
    /* Darker peach color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 300px;
}

.text-container button:hover {
    background-color: white;
    color: black;
}

/* Image container styles */
.image-container {
    flex: 1;
    text-align: center;
    /* height: 100px; */
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.item {
    display: flex;
    /* justify-content: space-around; */
    margin-top: 10px;
}

.itemList {
    width: 50%;
}

.itemList p {
    font-size: 15px;
}

/* footer */

.footer {
    display: flex;
    justify-content: space-around;
    color: black;
}

.containerfooter {
    /* text-align: center; */
    line-height: 20px;
    margin-bottom: 50px;
}

.containerfooter p {
    font-size: 15px;
    margin: 5px 5px;
    color: black;
}

.containerfooter h4 {
    padding: 8px;
    margin: 0;
    color: black;
}

.infolink {
    display: flex;
    justify-content: space-evenly;
    color: black;
}

.info {
    color: black;
}

.info a {
    color: black;
    text-decoration: none;
}

.footer {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 100%), url("/image/headBackground.webp");
}

/* Registe form */

.form-more-info {
    padding: 2px 5px;
}

.form-more-info input {
    border-radius: 3px;
}


.form-info {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.form-more-info label{
    padding-bottom: 2px;
    font-size: 17px;
}

.form-more-info input {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 100%), url("/image/headBackground.webp");
}