/* Header */
#header {
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 100%), url(/image/headBackground.webp);
}

/* back to top button */
.btn-back-to-top {
    position: fixed;
    background: none;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 100%), url(/image/headBackground.webp);
    border-radius: 10px;
    padding: 0;
    cursor: pointer;
    z-index: 1000;
}

.btn-back-to-top img {
    transition: transform 0.3s ease, background-size 0.3s ease;
    width: 50px;
    height: 50px;
}

.btn-back-to-top:active {
    transform: scale(1.1);
    /* enlarge when clicked */
}

/* navbar */
.nav {
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 20px;
    margin-left: auto;
    font-size: 20px;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color: #000000;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: larger;
}

.navbar a:hover {
    background-color: #FEC5E5;
    border-radius: 10px;
}

/* caroseol */
.d-block {
    height: 600px;
    background: linear-gradient(to bottom, transparent, black);
}

.carousel-inner {
    background-color: #fff;
}

.carousel-caption {
    color: #FEC5E5;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

body{
    height: 100%;
}