/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Container styles */
  .container {
    display: flex;
    justify-content: space-between;
    background-color: #FFD7D7; /* Light peach color */
    padding: 20px;
  }
  
  /* Text container styles */
  .text-container {
    flex: 1;
    padding: 20px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  button {
    background-color:   
   #E63946; /* Darker peach color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Image container styles */
  .image-container {
    flex: 1;
    text-align: center;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }